{
  "extends": "eslint:recommended",
  "env": {
    "es6": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2022
  },
  "globals": {
    "globalThis": "readonly",
    "global": "readonly",
    "process": true,
    "TextEncoder": true,
    "TextDecoder": true
  },
  "rules": {}
}